In [6]:
import pandas as pd

In [9]:
df = pd.read_json ('Datasets/water_points.json')

In [11]:
df.to_csv ('Datasets/water_points.csv', index = None)

In [12]:
data_frame = pd.read_csv('Datasets/water_points.csv')

In [15]:
data_frame.head()

,water_pay,respondent,research_asst_name,water_used_season,_bamboo_dataset_id,_deleted_at,water_point_condition,_xform_id_string,other_point_1km,_attachments,...,animal_point,water_mechanism_plate,water_lift_mechanism_type,road_type,water_mechanism_plate_units,water_mechanism_plate_no,water_not_functioning,water_source_type_other,simserial,subscriberid
0,no,community,Haruna Mohammed,year_round,NaN,NaN,functioning,_08_Water_points_CV,no,['north_ghana/attachments/1351696546452.jpg'],...,yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,no,community,Haruna Mohmmed,year_round,NaN,NaN,functioning,_08_Water_points_CV,yes,['north_ghana/attachments/1351701849971.jpg'],...,yes,no,manual_power,gravel,NaN,NaN,NaN,NaN,NaN,NaN
2,no,community,Haruna Mohammed,year_round,NaN,NaN,functioning,_08_Water_points_CV,yes,['north_ghana/attachments/1351702462336.jpg'],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
3,no,community,Haruna Mohammed,year_round,NaN,NaN,functioning,_08_Water_points_CV,yes,['north_ghana/attachments/1351702971561.jpg'],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN
4,no,community,Haruna Mohammed,year_round,NaN,NaN,functioning,_08_Water_points_CV,yes,['north_ghana/attachments/1351703622326.jpg'],...,yes,no,manual_power,paved,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 712 entries, 0 to 711
Data columns (total 48 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   water_pay                    712 non-null    object
 1   respondent                   712 non-null    object
 2   research_asst_name           712 non-null    object
 3   water_used_season            712 non-null    object
 4   _bamboo_dataset_id           0 non-null      float64
 5   _deleted_at                  0 non-null      float64
 6   water_point_condition        712 non-null    object
 7   _xform_id_string             712 non-null    object
 8   other_point_1km              712 non-null    object
 9   _attachments                 712 non-null    object
 10  communities_villages         712 non-null    object
 11  end                          712 non-null    object
 12  animal_number                528 non-null    object
 13  water_point_id               712 non-null    object
 14  start                        712 non-null    object
 15  water_connected              712 non-null    object
 16  water_manager_name           708 non-null    object
 17  _status                      712 non-null    object
 18  enum_id_1                    712 non-null    int64
 19  water_lift_mechanism         712 non-null    object
 20  districts_divisions          712 non-null    object
 21  _uuid                        712 non-null    object
 22  grid                         712 non-null    object
 23  date                         712 non-null    object
 24  formhub/uuid                 712 non-null    object
 25  road_available               712 non-null    object
 26  water_functioning            712 non-null    object
 27  _submission_time             712 non-null    object
 28  signal                       712 non-null    object
 29  water_source_type            712 non-null    object
 30  _geolocation                 712 non-null    object
 31  water_point_image            712 non-null    object
 32  water_point_geocode          709 non-null    object
 33  deviceid                     712 non-null    int64
 34  locations_wards              712 non-null    object
 35  water_manager                712 non-null    object
 36  water_developer              712 non-null    object
 37  _id                          712 non-null    int64
 38  animal_point                 712 non-null    object
 39  water_mechanism_plate        649 non-null    object
 40  water_lift_mechanism_type    649 non-null    object
 41  road_type                    334 non-null    object
 42  water_mechanism_plate_units  43 non-null     object
 43  water_mechanism_plate_no     43 non-null     float64
 44  water_not_functioning        87 non-null     object
 45  water_source_type_other      3 non-null      object
 46  simserial                    5 non-null      float64
 47  subscriberid                 5 non-null      float64
dtypes: float64(5), int64(3), object(40)
memory usage: 267.1+ KB